Debug
*.user
*.suo
*.ncb
/bindings/csharp/Release
/tinyDAV/Release
/tinySIGCOMP/Release
/tinyBFCP/Release
/tinyMSRP/Release
/tinyHTTP/Release
/tinyMEDIA/Release
/tinyNET/Release
/tinySAK/Release
/plugins/pluginWinMF/Release
/tinySIP/Release
/tinySMS/Release
/tinyIPSec/Release
/tinySDP/Release
/tinyRTP/Release
/tinyXCAP/Release
*.orig
*.db
*.ipch
*.opendb


# add by kiki
*.cache
*.m4
AUTHORS
ChangeLog
compile
config.*
configure
depcomp
*.pc
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
NEWS
README
stamp-h1

*.deps
*.libs
*.dirstamp
*.lo
*.o
*.la